{% extends 'base.html' %}
{% comment %}
<script type="text/javascript" src="{{cdn}}/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{cdn}}/static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{{cdn}}/static/js/jquery.simpletip-1.3.1.pack.js"></script>
{% endcomment %}
{% block extrahead %}
<script type="text/javascript" src="{{cdn}}/static/js/hackerdojo.prod.pack.js?v=v{{version}}"></script>
<meta property="og:site_name" content="Hacker Dojo"/>
<meta property="og:title" content="Hacker Dojo - Welcome to Silicon Valley's Tech Hub"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.hackerdojo.com/static/images/hacker-dojo.png"/>
<meta property="og:url" content="http://www.hackerdojo.com/"/>
<meta property="fb:admins" content="556346067"/>
{% endblock %}
{% block content %}

<div align="center">
	<iframe width="560" height="315" src="//www.youtube.com/embed/mcg2By317ZI" frameborder="2" allowfullscreen></iframe>
</div>

  <div style="clear:both">&nbsp;</div>
	
	<hr class="clear">

	<article class="callouts span-two">
	
		<section class="one">
			<h3>{{text.content_section1_title}}</h3>
            <p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">{{text.content_section1_desc}}</p>
            <a href="/About" class="homepage-blurb">{{text.content_section1_link}}</a>
		</section>
	
		<section class="two">
			<h3>{{text.content_section2_title}}</h3>
            <p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">{{text.content_section2_desc}}</p>
            <a href="/Membership" class="homepage-blurb">{{text.content_section2_link}}</a>
		</section>
	
		<section class="three">
			<h3>{{text.content_section3_title}}</h3>
            <p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">{{text.content_section3_desc}}</p>
            <a href="{{text.menu_events_url}}" class="homepage-blurb">{{text.content_section3_link}}</a>
		</section>
	
		<section class="four">
			<h3>{{text.content_section4_title}}</h3>
            <p><img src="{{cdn}}/static/images/vertical-stripe.png" class="p-border">{{text.content_section4_desc}}</p>
            <a href="/lightningtalks" class="homepage-blurb">{{text.content_section4_link}}</a>
		</section>
		<section class = "six">
            <h3><a href="/parking_directions">{{text.content_section6_title}}</a></h3>
            <p>{{text.content_section6_desc}} <a href="/Contact">contact us</a> or <a href="https://twitter.com/#!/{{text.footer_twitter}}">follow us on Twitter</a>.</p>
		</section>
	<hr class="clear">
	</article>
	
	<article class="callouts span-one">
		<section class="five">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
            <h3>{{text.content_section5_title}}</h3>
			<div style="width: 288px;height:380px;overflow-y:hidden;">
				<div class="fb-like-box" data-href="https://www.facebook.com/80950130546" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false" data-height="400" data-width="288" style="margin-top:-71px;" ></div>
			</div>
		</section>
		
	<hr class="clear">	
	</article>

{% endblock %}
 
